language: go

os:
  - windows
  - linux
go:
  - "1.13.11"
  - "1.13.x"
  - "1.14.x"
  - "1.15.x"
  - "1.x"

notifications:
  irc:
    if: repo = namecoin/certinject
    channels:
      - "chat.freenode.net#namecoin-dev"
    on_success: never

jobs:
  allow_failures:
    - stage: lint
  include:
    - os: linux
      stage: lint-new
      language: go
      go: "1.15.x"
      script:
        # lint new changes
        - go get -v -d -t ./...
        - bash testdata/golangci-linter.bash --new-from-rev=HEAD~ # new changes
    - os: linux
      stage: lint-mandatory
      language: go
      go: "1.15.x"
      script:
        # lint with mandatory linters only.  Add more like this:
        # --disable=foo,bar
        - go get -v -d -t ./...
        - bash testdata/golangci-linter.bash --disable=exhaustive,gci,godot,gofumpt,nlreturn
    - os: linux
      stage: lint
      language: go
      go: "1.15.x"
      script:
        # lint stage
        - go get -v -d -t ./...
        - bash testdata/golangci-linter.bash # all, allowed to fail
    - os: linux
      stage: deploy
      language: go
      go: "1.x"
      script:
        # lint stage
        - export GOOS=windows
        - go get -v -d -t ./...
        - go generate ./...
        - go get -v -t ./...
        - go build -o certinject.exe ./cmd/certinject
      before_deploy:
        - export RELEASES_NAME=$(date +%F)-$(echo $TRAVIS_COMMIT | cut -c-8)
      deploy:
        provider: releases
        token: TODO
        repo: namecoin/nightly-certinject
        file: certinject.exe
        edge: true
        on:
          repo: namecoin/certinject
          tags: false
      env:
        global:
          # RELEASES_TOKEN for automatic releases
          - secure: "WZZecuvmgOAFnOtJnQfLeAY4oRlIiZVl3g2pABTBI0x1nsu8oTotQImHnQsgkM30mWo03vUZOjuBj2dtm41JQJH2AcDVJrnpDg8IqF3c6iMMUkhODZCDmdLlqe1KWNJTcHrEGMMac5la/q4EZGh0FDcXXKq0dHZLYkkm5AJFy19DNS6Tcf2xv3hwnwTt/eFqw8EipOn+z06jPoVS3YdfmK1MQLnDk5V7jcjgW+3ttxoMB9iNFqKA1hW89vOed84vVbp0dRhSffKKf4s3jmljXTAuD0lI1Mi/eiKbQ2lgCNiQqimF1G9Mys2D+j5OVyJmedq6X6i96CrcsjF/7ps3/m6UucNNykIU07uGq6HnIPUXElvWU1jXYchPAEevmjInHlPvKeboMzsynbl2z1IQlvRgOkxsPQ1oj6EN+u1L17KTp24dNzqEoITd1HHqgLJQFuheC8NiVULAVXRxHKdAfck4V+Pm+pLLtP1QYwy73JPJt5NSK0qHHMDFrMQFH37kEtRtKdNLFyeAVnxYIPnMaXqmKK3UKnPFzL5RgHskKjCjw5ZeEmou+VplEpEAesZl5OkDFMV4/76X0h+g1HBd1uRj26lYsdguAjp7mMP130j3nYDzcRhWNYcy1RMQS9zanIneOceuv7kIdDWkt9ZZigBstV8jT99w30shAClw5kI="

stages:
  - lint-new
  - lint-mandatory
  - lint
  - test
  - deploy

# 'test' stage
script:
  - bash testdata/travis.bash

env:
  global:
    # Go versions before go1.13.x will grab master branch unless we use GO111MODULE=on
    # (go1.10.x still needs the workaround in testdata/travis.bash)
    - GO111MODULE="on"
